version: '3.8'
services:
  web:
    build: .
    container_name: bizcore_app
    ports:
      - "4173:3000"
    environment:
      NODE_ENV: production
      ORIGIN: https://bize_core.freedomsoft.in.th
      
      DB_HOST: 192.168.111.57
      DB_PORT: 3306
      DB_DATABASE: bizcore      
      DB_USER: root
      DB_PASSWORD: Anji@12345
      
    volumes:
      - ./uploads:/app/uploads  

