version: '3.8'
services:
  web:
    build: .
    container_name: svelte_app
    ports:
      - "4173:3000"
    environment:
      NODE_ENV: production
      ORIGIN: http://localhost:4173
      
      DB_HOST: 192.168.111.57  
      DB_PORT: 3306             
      DB_NAME: bizcore          
      DB_USER: root             
      DB_PASSWORD: Anji@12345   
      
    volumes:
      - uploads_data:/app/static/uploads

volumes:
  uploads_data: